<main class="flex flex-col gap-4">
  <div
    class="bg-white dark:bg-gray-800 rounded-t-lg border dark:border-gray-700"
  >
    <!-- Contenedor principal que cambia de dirección en pantallas pequeñas -->
    <div
      class="flex flex-col border-b dark:border-gray-700 pb-2 p-4 md:flex-row md:items-center md:justify-between gap-3"
    >
      <div>
        <h1 class="text-xl font-bold dark:text-gray-100">Ventas</h1>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Gestión de ventas y reservas
        </p>
      </div>

      <!-- Botón de nueva venta - responsivo -->
      <div class="flex flex-wrap gap-2 lg:justify-end">
        <div class="w-full sm:w-auto">
          <app-button
            icon="pi pi-plus"
            text="Nueva Venta"
            moreClasses="py-2 w-full sm:w-auto"
            bgColor="bg-primary-500 dark:bg-primary-dark-500"
            (click)="openAddSaleModal()"
          />
        </div>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row pt-2 p-4 gap-4">
      <!-- Sección de búsqueda - ocupa todo el ancho en móvil, se adapta en escritorio -->
      <div class="flex gap-2 items-end">
        <div class="flex-grow max-w-xs">
          <app-input-form
            type="text"
            label="Código de Venta"
            placeholder="Ingrese código"
            [required]="true"
            errorType=" "
            [(ngModel)]="filterSaleByCodeSale"
          />
        </div>

        <button
          (click)="searchSale()"
          class="bg-primary-500 dark:bg-primary-dark-500 hover:bg-primary-400 dark:hover:bg-primary-dark-400 duration-300 ease-in-out text-white w-10 h-10 rounded-full flex items-center justify-center"
        >
          <i class="pi pi-search"></i>
        </button>
      </div>

      <app-input-form
        type="date"
        label="Fecha de Venta"
        [required]="true"
        errorType=" "
        (valueChange)="onFilterChange('startDate', $event)"
      />
        <app-input-form
        type="date"
        label="Límite fecha de Venta"
        [required]="true"
        errorType=" "
        (valueChange)="onFilterChange('endDate', $event)"
      />
      <app-select
        [required]="true"
        label="Estado de Venta"
        errorType=" "
        class="w-full max-w-xs"
        [options]="salesStatusFilters"
        (valueChange)="onFilterChange('status', $event)"
      />
      <div class="flex items-end">
        <button
          pButton
          icon="pi pi-filter-slash"
          label="Limpiar filtros"
          class="bg-white dark:bg-gray-700 border-2 shadow-sm rounded-lg text-black dark:text-gray-100 border-slate-100 dark:border-gray-600 hover:bg-gray-50 dark:hover:bg-gray-600 hover:shadow-md transition-all duration-200"
          [disabled]="filters().length === 0"
          (click)="clearFilters()"
        ></button>
      </div>
    </div>
  </div>

  <!-- table section -->
  <div
    class="bg-white dark:bg-gray-800 rounded-b-lg border dark:border-gray-700 w-full"
  >
    <div class="w-full py-5 flex px-4 justify-between">
      <div class="flex gap-2">
        @for (item of filters(); track $index) {
        <div
          class="flex items-center gap-1 bg-primary-100 dark:bg-primary-dark-900/30 px-2 py-1 rounded-lg"
        >
          <p-tag [value]="item.value" styleClass="dark:tag-dark"></p-tag>
          <button
            (click)="clearFilters()"
            class="hover:text-red-500 text-sm text-red-300 dark:text-red-400"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
        }
      </div>
    </div>

    <p-table
      [columns]="salesTableColumns"
      [value]="sales()"
      [lazy]="true"
      [scrollable]="true"
      [totalRecords]="totalRecords"
      scrollHeight="500px"
      [resizableColumns]="true"
      [rows]="rows"
      styleClass="p-datatable-gridlines dark:p-datatable-dark"
      [tableStyle]="{ 'min-width': '50rem' }"
      selectionMode="single"
      [loading]="loading()"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (col of columns; track $index) {
          <th
            pResizableColumn
            class="text-primary-l-500 dark:text-primary-dark-300 cursor-pointer border-y py-2 font-semibold border border-primary-100 dark:border-gray-700 bg-primary-l-100 dark:bg-gray-700"
          >
            {{ col.header }}
          </th>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-sale let-columns="columns">
        @if (loading()) {
        <tr style="height: 40px">
          @for (col of columns; track $index) {
          <td class="dark:border-gray-700">
            <p-skeleton />
          </td>
          }
        </tr>
        }
        <tr
          [pSelectableRow]="sale"
          class="dark:bg-gray-800 dark:hover:bg-gray-700"
        >
          @for (col of columns; track $index) {
          <td class="dark:border-gray-700">
            @if (col.field == "status") { @switch (sale[col.field]) { @case
            ('PENDIENTE') {
            <p-tag
              styleClass="bg-orange-100 text-orange-500 dark:bg-orange-900/30 dark:text-orange-400"
              value="Reservado"
            ></p-tag>
            } @case ('CANCELADO') {
            <p-tag
              styleClass="bg-primary-500 dark:bg-primary-dark-500 text-white"
              value="Cancelada"
            ></p-tag>
            } @case ('COMPLETADO') {
            <p-tag
              styleClass="bg-green-100 text-green-500 dark:bg-green-900/30 dark:text-green-400"
              value="Completada"
            ></p-tag>
            } @default {
            <p-tag
              severity="secondary"
              styleClass="dark:bg-gray-700 dark:text-gray-300"
              [value]="sale[col.field] || 'Desconocido'"
            ></p-tag>
            } } } @else if (col.field == "codeSale") {
            <span class="dark:text-gray-300">{{
              sale[col.field] | uppercase
            }}</span>
            } @else if (col.field == "dateSale") {
            <span class="dark:text-gray-300">{{
              sale[col.field] | date : "dd-MM-yyyy hh:mm a"
            }}</span>
            } @else if (col.field == "departureDate") {
            <span class="dark:text-gray-300">{{
              sale[col.field] | date : "dd-MM-yyyy hh:mm a"
            }}</span>
            }@else if (col.field == "client") {
            <span class="dark:text-gray-300">
              {{
                sale[col.field].name +
                  " " +
                  sale[col.field].firstLastname +
                  " " +
                  sale[col.field].secondLastname
              }}
            </span>
            } @else if (col.field == "branch") {
            <span class="dark:text-gray-300">{{
              sale[col.field].address
            }}</span>
            } @else if (col.field=="registeredBy" ) {

            <div class="flex items-center gap-2">
              <p-tag
                [value]="sale[col.field]"
                [pTooltip]="'Click para ver + '"
                tooltipPosition="top"
                [rounded]="true"
                (click)="viewUserDetails(sale[col.field])"
                styleClass="bg-blue-500 hover:bg-blue-400 text-white dark:bg-blue-700 dark:hover:bg-blue-600"
                class="cursor-pointer hover:shadow-sm hover:underline transition-all"
              />
            </div>

            } @else if (col.field=="actions") {

            <div class="flex gap-1">
              <button
                class="button-table-actions"
                [pTooltip]="'Modificar Venta'"
                tooltipPosition="left"
                [showDelay]="300"
              >
                <i class="pi pi-file-edit"></i>
              </button>
              <button
                class="button-table-actions"
                [pTooltip]="'Cancelar Venta'"
                tooltipPosition="left"
                [showDelay]="300"
                (click)="cancelSale(sale)"
              >
                <i class="pi pi-times"></i>
              </button>
              <button
                class="button-table-actions"
                [pTooltip]="'Ver PDF'"
                tooltipPosition="left"
                [showDelay]="300"
                (click)="viewSaleDetailsPdf(sale)"
              >
                <i class="pi pi-file-pdf"></i>
              </button>
            </div>

            } @else {
            <span class="dark:text-gray-300">{{ sale[col.field] }}</span>
            }
          </td>
          }
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns="columns">
        <tr>
          <td colspan="100%">
            <div class="flex flex-col items-center justify-center py-8 px-4">
              <div class="text-primary-300 dark:text-primary-dark-400 mb-3">
                <i class="pi pi-shopping-cart text-5xl"></i>
              </div>
              <h3
                class="text-lg font-semibold text-gray-700 dark:text-gray-300 mb-2"
              >
                No se encontraron ventas
              </h3>
              <p
                class="text-gray-500 dark:text-gray-400 text-center max-w-md mb-4"
              >
                No hay resultados que coincidan con los filtros de ventas
                aplicados.
              </p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card flex flex-col gap-4">
      <div class="flex items-center justify-center">
        <div class="flex-1">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showFirstLastIcon]="false"
            styleClass="dark:paginator-dark dark:bg-gray-800 dark:border-gray-700"
          />
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal de venta -->
<app-form-sale
  [(showModal)]="showModalAddSale"
  (refreshData)="handleRefreshData()"
/>

<p-toast [baseZIndex]="10000" [life]="2000" />
