<app-modal [(isOpen)]="showModal" [closeOnBackdrop]="false">
  <main
    class="flex flex-col h-auto max-h-[90vh] overflow-y-auto overflow-x-hidden w-[90vw] max-w-7xl mx-auto"
  >
    <header class="flex w-full justify-between items-center">
      <h2 class="text-lg font-semibold text-primary-500">Nueva Ventas</h2>
      <button
        class="hover:bg-primary-100 hover:rotate-90 text-primary-500 duration-300 ease-in-out w-10 h-10 flex items-center justify-center rounded-full"
        (click)="closeModal()"
      >
        <i class="pi pi-times"></i>
      </button>
    </header>
    <section class="h-full px-3">
      <p-stepper [value]="1" styleClass="flex-grow bg-gray-500 flex flex-col">
        <p-step-list>
          @for (step of addSaleSteps; track $index) {
          <p-step
            [value]="step.value"
            [disabled]="step.value == 1 ? false : !canActivateStep(step.value)"
          >
            {{ step.label }}
          </p-step>
          }
        </p-step-list>
        <p-step-panels styleclass="flex-grow flex flex-col overflow-auto">
          <p-step-panel
            [value]="1"
            styleClass="flex-grow justify-between   h-full flex flex-col"
          >
            <ng-template #content let-activateCallback="activateCallback">
              <app-step1-client-form
                [clientForm]="clientForm"
                [loading]="loading()"
                (submitForm)="createClient(activateCallback)"
                (searchClient)="searchClientByDni()"
              />
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="2" class="flex-grow flex flex-col">
            <ng-template #content let-activateCallback="activateCallback">
              <app-step2-sale-form
                (submitForm)="confirmSale(activateCallback)"
                (statusOfSaleCreated)="handleSaleCreationResult($event)"
                [(currentClientModel)]="currentClient"
                [(salesDataOfEdit)]="dataOfSale"
              />
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="3" class="flex-grow flex flex-col">
            <ng-template #content let-activateCallback="activateCallback">
              <app-step3-summary-sale
                [saleCreationResult]="saleCreationResult()"
                (download)="downloadReceipt()"
                (restart)="restartSale()"
                (close)="closeModal()"
              />
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </section>
  </main>
</app-modal>
 