<main class="flex flex-col min-h-96 h-[90%] w-full backdrop: mx-auto">
  <!-- Contenido del modal con scroll -->
  <section class="w-full pt-4 h-full">
    <form class="w-full">
      <p-stepper [value]="1" class="basis-[50rem]">
        <p-step-list>
          @for (step of addSaleSteps; track $index) {
          <p-step [value]="step.value">
            {{ step.label }}
          </p-step>
          }
        </p-step-list>
        <p-step-panels>
          <p-step-panel [value]="1">
            <ng-template #content let-activateCallback="activateCallback">
              <!-- Sección del formulario -->
              <div
                class="flex flex-col justify-between bg-white h-full p-6 rounded-lg lg:px-14"
              >
                <form
                  [formGroup]="clientForm"
                  class="grid grid-cols-1 md:grid-cols-2 h-full gap-4"
                >
                  <app-select
                    label="Tipo de Documento"
                    [required]="true"
                    [options]="[
                      { label: 'Dni', value: 'dni' },
                      { label: 'Carnet de Extranjeria', value: 'ce' }
                    ]"
                    class="w-full"
                    formControlName="documentType"
                  />
                  <app-input-form
                    [required]="true"
                    label="N° Documento"
                    [isPositive]="true"
                    class="w-full"
                    formControlName="documentNumber"
                  />

                  <app-input-form
                    [required]="true"
                    label="Nombres"
                    class="w-full"
                    formControlName="name"
                  />
                  <app-input-form
                    [required]="true"
                    label="Primer Apellido"
                    class="w-full"
                    formControlName="firstLastname"
                  />
                  <app-input-form
                    [required]="true"
                    label="Segundo Apellido"
                    class="w-full"
                    formControlName="secondLastname"
                  />
                  <app-input-form
                    label="Fecha de nacimiento"
                    class="w-full"
                    formControlName="birthDate"
                    type="date"
                  />
                  <app-input-form
                    label="Correo Electrónico"
                    class="w-full"
                    type="email"
                    formControlName="email"
                  />
                  <app-input-form
                    [required]="true"
                    label="Número de Celular"
                    class="w-full"
                    formControlName="cellphone"
                    [isPositive]="true"
                    [maxLength]="9"
                  />
                </form>

                <div class="flex pt-6 gap-3 justify-end">
                  <app-button
                    text="Cancelar"
                    icon="pi pi-times"
                    moreClasses="py-2"
                    bgColor="bg-gray-100"
                    textColor="text-black"
                    (click)="closeModal()"
                  />
                  <app-button
                    text="Siguiente"
                    icon="pi pi-arrow-right"
                    moreClasses="py-2"
                    bgColor="bg-primary-500"
                    textColor="text-white"
                    (click)="activateCallback(2)"
                    [disabled]="!clientForm.valid"
                  />
                </div>
              </div>
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="2">
            <ng-template #content let-activateCallback="activateCallback">
              <app-services-packages-sale-form />
            </ng-template>
          </p-step-panel>
          <p-step-panel [value]="3">
            <ng-template #content let-activateCallback="activateCallback">
              <div class="flex pt-6 justify-end">
                <p-button
                  label="Guardar"
                  icon="pi pi-lock"
                  iconPos="right"
                  (onClick)="activateCallback(2)"
                />
              </div>
            </ng-template>
          </p-step-panel>
        </p-step-panels>
      </p-stepper>
    </form>
  </section>
</main>

<p-toast [life]="2000" [baseZIndex]="10000" />
