<div class="min-h-screen bg-white flex flex-col shadow-sm border rounded-xl">
  <!-- Header with background image -->
  <div class="relative">
    <div>
      <img
        src="/images/header-profile.svg"
        alt="Header"
        class="w-full h-48 object-cover"
      />
    </div>
  </div>
  <p-tabs [value]="0">
    <p-tablist>
      @for (item of menuOptions; track $index) {
      <p-tab [value]="item.value">
        <i class="{{ item.icon }}"></i>{{ item.label }}
      </p-tab>

      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <div
          class="w-full h-full flex items-center justify-center lg:justify-start pb-4"
        >
          <div
            class="flex lg:flex-row flex-col lg:justify-normal justify-center lg:items-center gap-6 lg:gap-10 items-normal"
          >
            <app-photo-profile [photo]="userInfo.photoUrl" />
            <div>
              <h1 class="text-xl font-semibold">
                {{
                  userInfo.name +
                    " " +
                    userInfo.firstLastname +
                    " " +
                    userInfo.secondLastname
                }}
              </h1>
              <p>{{ userInfo.email }}</p>
            </div>
          </div>
        </div>
        <form>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <app-input-form label="Nombres" placeholder="Elmer" />
            <app-input-form label="Primer Apellido" placeholder="Huaman" />
            <app-input-form label="Segundo Apellido" placeholder="Rojas" />

            <app-input-form
              label="Fecha de Nacimiento"
              type="date"
              placeholder="2021-01-01"
            />
            <app-input-form
              label="Correo Electrónico"
              placeholder="elmer@dev.com"
            />

            <app-input-form
              label="Número de Teléfono"
              placeholder="123456789"
            />

            <app-input-form label="Dirección" placeholder="Calle 123" />
          </div>
          <div class="w-full pt-4 gap-2 flex justify-end">
            <app-button
              text="Guardar Cambios"
              bgColor="bg-primary-500"
              moreClasses="py-2"
            />
            <app-button
              text="Cancelar"
              bgColor="bg-primary-50"
              textColor="text-black"
              moreClasses="py-2"
            />
          </div>
        </form>
      </p-tabpanel>
      <p-tabpanel [value]="1"> Content II </p-tabpanel>
      <p-tabpanel [value]="2">
        <div class="grid grid-cols-1 lg:grid-cols-3 h-auto gap-6">
          <!-- Columna de información de seguridad -->
          <div class="lg:col-span-1">
            <div class="bg-white rounded-xl border shadow-sm h-full">
              <!-- Cabecera -->
              <div class="p-6 border-b">
                <div class="flex items-center gap-4 mb-4">
                  <div
                    class="w-10 h-10 rounded-full bg-primary-50 flex items-center justify-center"
                  >
                    <i class="pi pi-shield text-lg text-primary-500"></i>
                  </div>
                  <h3 class="text-base font-medium text-gray-900">Seguridad</h3>
                </div>
                <p class="text-sm text-gray-500">
                  Mantén tu cuenta segura actualizando tu contraseña
                  regularmente
                </p>
              </div>

              <!-- Estado actual -->
              <div class="p-6">
                <div class="flex items-center justify-between mb-6">
                  <div class="flex justify-center gap-3 w-full">
                    <app-button
                      text="Cambiar Contraseña"
                      bgColor="bg-primary-500"
                      moreClasses="py-2"
                      icon="pi pi-lock"
                      (click)="OpenpasswordRecovery()"
                    />
                  </div>
                </div>

                <!-- Imagen decorativa -->
                <div class="mt-8 flex justify-center">
                  <img
                    src=" ./images/security.webp"
                    alt="Seguridad"
                    class="h-64 w-auto opacity-75"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Columna para el formulario (por ahora vacía) -->
          <div class="lg:col-span-2 bg-white rounded-xl border shadow-sm p-6">
            @if(viewPasswordRecoveryForm()){
            <app-password-recovery></app-password-recovery> }@else {

            <div class="w-full h-full flex justify-center items-center">
              <img
                src=" ./images/password-empty.webp"
                alt="Seguridad"
                class="h-64 w-auto opacity-75 m-auto"
              />
            </div>
            }
          </div>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
