<div class="min-h-screen bg-white flex flex-col shadow-sm border rounded-xl">
  <!-- Header with background image -->
  <div class="relative">
    <div>
      <img
        src="/images/header-profile.svg"
        alt="Header"
        class="w-full h-48 object-cover"
      />
    </div>
  </div>
  <p-tabs [value]="0">
    <p-tablist>
      @for (item of menuOptions; track $index) {
      <p-tab [value]="item.value">
        <i class="{{ item.icon }}"></i>{{ item.label }}
      </p-tab>

      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <div
          class="w-full h-full flex items-center justify-center lg:justify-start pb-4"
        >
          <div
            class="flex lg:flex-row flex-col lg:justify-normal justify-center lg:items-center gap-6 lg:gap-10 items-normal"
          >
            <app-photo-profile [photo]="userInfo.photoUrl" />
            <div>
              <h1 class="text-xl font-semibold">
                {{
                  userInfo.name +
                    " " +
                    userInfo.firstLastname +
                    " " +
                    userInfo.secondLastname
                }}
              </h1>
              <p>{{ userInfo.email }}</p>
            </div>
          </div>
        </div>
        <form>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <app-input-form label="Nombres" placeholder="Elmer" />
            <app-input-form label="Primer Apellido" placeholder="Huaman" />
            <app-input-form label="Segundo Apellido" placeholder="Rojas" />

            <app-input-form
              label="Fecha de Nacimiento"
              type="date"
              placeholder="2021-01-01"
            />
            <app-input-form
              label="Correo Electrónico"
              placeholder="elmer@dev.com"
            />

            <app-input-form
              label="Número de Teléfono"
              placeholder="123456789"
            />

            <app-input-form label="Dirección" placeholder="Calle 123" />
          </div>
          <div class="w-full pt-4 gap-2 flex justify-end">
            <app-button
              text="Guardar Cambios"
              bgColor="bg-primary-500"
              moreClasses="py-2"
            />
            <app-button
              text="Cancelar"
              bgColor="bg-primary-50"
              textColor="text-black"
              moreClasses="py-2"
            />
          </div>
        </form>
      </p-tabpanel>
      <p-tabpanel [value]="1"> Content II </p-tabpanel>
      <p-tabpanel [value]="2"> Content III </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
