<div class="min-h-screen bg-white flex flex-col shadow-sm border rounded-xl">
  <!-- Header with background image -->
  <div class="relative">
    <div>
      <img
        src="/images/header-profile.svg"
        alt="Header"
        class="w-full h-48 object-cover"
      />
    </div>
  </div>
  <p-tabs [value]="0" scrollable>
    <p-tablist>
      @for (item of menuOptions; track $index) {
      <p-tab [value]="item.value">
        <i class="{{ item.icon }}"></i>{{ item.label }}
      </p-tab>

      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <div class="bg-white rounded-lg p-2">
          <div
            class="flex flex-col lg:flex-row items-center lg:items-start gap-8"
          >
            <!-- Columna de foto de perfil con efectos mejorados -->
            <div class="relative group">
              <!-- Foto de perfil con borde y sombra mejorada -->
              <div class="rounded-full overflow-hidden shadow-lg">
                <app-photo-profile [photo]="userInfo().photoUrl" />
              </div>

              <!-- Botón para cambiar la foto -->
              <app-input-file
                class="absolute -bottom-2 -right-1"
                [accept]="'.png, .jpg, .jpeg'"
                (onChange)="onFileSelected($event)"
              >
                <div
                  class="cursor-pointer bg-primary-500 hover:bg-primary-600 flex items-center justify-center text-white p-3 rounded-full shadow-md transition-all duration-300 transform hover:scale-105"
                >
                  <i class="pi pi-camera"></i>
                </div>
              </app-input-file>
            </div>

            <!-- Información del usuario con mejor formato -->
            <div class="flex-1">
              <div class="text-center lg:text-left">
                <!-- Nombre con tamaño más grande y mejor espaciado -->
                <h1 class="text-xl font-bold text-gray-800 mb-1">
                  {{
                    userInfo().name +
                      " " +
                      userInfo().firstLastname +
                      " " +
                      userInfo().secondLastname
                  }}
                </h1>

                <!-- Información de contacto con iconos -->
                <div class="flex flex-col gap-2 mt-3">
                  <p class="flex items-center gap-2 text-gray-600">
                    <i class="pi pi-envelope text-primary-400"></i>
                    <span>{{ userInfo().email }}</span>
                  </p>

                  <!-- ID con estilo de badge -->
                  <div class="flex items-center gap-2">
                    <span
                      class="bg-orange-100 text-orange-600 text-xs px-2 py-1 rounded-md font-mono flex items-center"
                    >
                      <i class="pi pi-id-card text-orange-600 pr-1"></i>
                      ID: {{ userInfo().userId }}
                    </span>

                    <span
                      class="inline-flex items-center bg-green-100 text-green-500 text-xs px-2 py-1 rounded-md"
                    >
                      <span
                        class="w-2 h-2 bg-green-500 rounded-full pr-1"
                      ></span>
                      {{ userInfo().role.roleName }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <app-input-form
              label="Nombres"
              formControlName="name"
              placeholder="Elmer"
              [required]="true"
            />
            <app-input-form
              label="Primer Apellido"
              formControlName="firstLastname"
              placeholder="Huaman"
              [required]="true"
            />
            <app-input-form
              label="Segundo Apellido"
              formControlName="secondLastname"
              placeholder="Rojas"
              [required]="true"
            />

            <app-input-form
              label="Fecha de Nacimiento"
              type="date"
              formControlName="birthDate"
              placeholder="2021-01-01"
            />
            <app-input-form
              label="Correo Electrónico"
              formControlName="email"
              placeholder="elmer@dev.com"
              [required]="true"
            />

            <app-input-form
              label="Número de Teléfono"
              placeholder="123456789"
              formControlName="phone"
              [required]="true"
              [isPositive]="true"
            />

            <app-input-form
              label="Dirección"
              formControlName="address"
              placeholder="Calle 123"
            />
          </div>
          <div class="w-full pt-4 gap-2 flex justify-end">
            <app-button
              text="Guardar Cambios"
              bgColor="bg-primary-500"
              moreClasses="py-2"
            />
            <app-button
              text="Cancelar"
              bgColor="bg-primary-50"
              textColor="text-black"
              moreClasses="py-2"
            />
          </div>
        </form>
      </p-tabpanel>
      <p-tabpanel [value]="1"> Content II </p-tabpanel>
      <p-tabpanel [value]="2">
        <div class="grid grid-cols-1 lg:grid-cols-3 h-auto gap-6">
          <!-- Columna de información de seguridad -->
          <div class="lg:col-span-1">
            <div class="bg-white rounded-xl border shadow-sm h-full">
              <!-- Cabecera -->
              <div class="p-6 border-b">
                <div class="flex items-center gap-4 mb-4">
                  <div
                    class="w-10 h-10 rounded-full bg-primary-50 flex items-center justify-center"
                  >
                    <i class="pi pi-shield text-lg text-primary-500"></i>
                  </div>
                  <h3 class="text-base font-medium text-gray-900">Seguridad</h3>
                </div>
                <p class="text-sm text-gray-500">
                  Mantén tu cuenta segura actualizando tu contraseña
                  regularmente
                </p>
              </div>

              <!-- Estado actual -->
              <div class="p-6">
                <div class="flex items-center justify-between mb-6">
                  <div class="flex justify-center gap-3 w-full">
                    <app-button
                      text="Cambiar Contraseña"
                      bgColor="bg-primary-500"
                      moreClasses="py-2"
                      icon="pi pi-lock"
                      (click)="OpenpasswordRecovery()"
                    />
                  </div>
                </div>

                <!-- Imagen decorativa -->
                <div class="mt-8 flex justify-center">
                  <img
                    src=" ./images/security.webp"
                    alt="Seguridad"
                    class="h-64 w-auto opacity-75"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Columna para el formulario (por ahora vacía) -->
          <div class="lg:col-span-2 bg-white rounded-xl border shadow-sm p-6">
            @if(viewPasswordRecoveryForm()){
            <app-password-recovery></app-password-recovery> }@else {

            <div class="w-full h-full flex justify-center items-center">
              <img
                src=" ./images/password-empty.webp"
                alt="Seguridad"
                class="h-64 w-auto opacity-75 m-auto"
              />
            </div>
            }
          </div>
        </div>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
<p-toast [life]="5000" [baseZIndex]="10000"></p-toast>
<app-modal [closeOnBackdrop]="false" [(isOpen)]="photoPreviewModal">
  <div class="pb-4">
    <img
      [src]="previewImageUrl()"
      class="rounded-md max-h-96 max-w-96 h-full w-full"
      alt=""
    />
  </div>
  <div class="flex gap-2 justify-end mt-4">
    <app-button
      text="Cerrar"
      bgColor="bg-slate-100"
      moreClasses="py-2"
      textColor="text-black"
      font="font-normal"
      (click)="photoPreviewModal.set(false)"
    />
    <app-button
      text="Confirmar"
      bgColor="bg-primary-500"
      moreClasses="py-2"
      font="font-normal"
      (click)="photoPreviewModal.set(false)"
    />
  </div>
</app-modal>
