<div class="chart-container bg-white rounded-lg">
  <div class="flex justify-between items-center pb-2">
    <div>
      <h3 class="text-base font-medium">{{ title() || "Gráfico de Línea" }}</h3>
      <p class="text-sm text-gray-500">{{ subtitle() || "" }}</p>
    </div>
    <div class="flex gap-2">
      <button
        pButton
        icon="pi pi-download"
        class="p-button-text p-button-sm"
        pTooltip="Descargar gráfico"
        tooltipPosition="left"
        (click)="downloadChart()"
      ></button>
    </div>
  </div>
  <div class="chart-wrapper h-auto">
    <p-chart #chart type="line" [data]="data" [options]="options"></p-chart>
  </div>
</div>
