<main class="grid-container bg-[#F6F8FA] overflow-hidden">
  <app-header />
  <app-sidebar />
  <section class="outlet p-1 lg:p-6">
    <router-outlet />
  </section>
</main>
<app-modal [closeOnBackdrop]="false" [(isOpen)]="activeModalSelectBranch">
  <div class="p-4 max-w-md mx-auto">
    <!-- Encabezado -->
    <div class="flex items-center pb-3 border-b border-gray-200">
      <i class="pi pi-building text-primary-500 pr-3 text-xl"></i>
      <h1 class="text-xl font-semibold text-gray-800">
        Selecciona una Sucursal
      </h1>
    </div>

    <!-- Descripción -->
    <p class="text-sm text-gray-600 py-4">
      Selecciona la sucursal donde deseas trabajar.
    </p>

    <div class="pb-5">
      <p-listbox
        [(ngModel)]="selectedBranch"
        [options]="branches()"
        [checkbox]="true"
        optionLabel="name"
        [filter]="false"
        [filterBy]="'name'"
        emptyFilterMessage="No se encontraron sucursales"
        [listStyle]="{ 'max-height': '250px' }"
        [multiple]="false"
        [metaKeySelection]="false"
      >
        <ng-template let-branch pTemplate="item">
          <div class="flex align-items-center gap-2 p-2">
            <i class="pi pi-map-marker text-primary-500"></i>
            <div>
              <div class="font-medium">{{ branch.address }}</div>
            </div>
          </div>
        </ng-template>
      </p-listbox>
    </div>
    <div class="flex justify-end gap-2">
      <app-button
        text="Confirmar"
        moreClasses="py-2"
        bgColor="bg-primary-400 hover:bg-priamary-500"
        [disabled]="!selectedBranch()"
        (click)="confirmBranchSelection()"
      />
    </div>
  </div>
</app-modal>
