main {
    height: 100vh;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "sidebar header"
        "sidebar dashboard";

    app-header {
        grid-area: header;
    }

    app-sidebar {
        grid-area: sidebar;
        z-index: 100;
    }

    .outlet {
        grid-area: dashboard;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media(max-width: 800px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: 50px auto;
        grid-template-areas:
            "header"
            "dashboard";

        app-sidebar {
            position: absolute;
            width: 0;
        }
    }
}