<div class="input-text font-semibold">
  <label class="pt-2">{{ label() }}</label>
  <div
    [ngClass]="{ 'border-red-500': showError() }"
    class="flex border-2 text-lg rounded-lg px-4 font-normal gap-2 items-center focus-within:border-blue-400 focus-within:outline outline-blue-200"
  >
    <input
      [type]="passwordVisible() ? 'text' : 'password'"
      [value]="password()"
      [disabled]="disabled()"
      [required]="required()"
      (input)="onInput($event)"
      (blur)="onBlur()"
      class="h-full bg-transparent w-full py-2 border-none outline-none"
      [placeholder]="placeholder()"
    />
    <div class="icon cursor-pointer" (click)="togglePasswordVisibility()">
      @if (passwordVisible()) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="30"
        viewBox="0 0 24 24"
      >
        <path
          fill="#999999"
          d="M12 3c5.392 0 9.878 3.88 10.819 9c-.94 5.12-5.427 9-10.819 9c-5.392 0-9.878-3.88-10.818-9C2.122 6.88 6.608 3 12 3m0 16a9.005 9.005 0 0 0 8.778-7a9.005 9.005 0 0 0-17.555 0A9.005 9.005 0 0 0 12 19m0-2.5a4.5 4.5 0 1 1 0-9a4.5 4.5 0 0 1 0 9m0-2a2.5 2.5 0 1 0 0-5a2.5 2.5 0 0 0 0 5"
        />
      </svg>
      } @else {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="30"
        viewBox="0 0 16 16"
      >
        <path
          fill="#999999"
          fill-rule="evenodd"
          d="M3.03 1.97a.75.75 0 0 0-1.06 1.06l.83.83A8.206 8.206 0 0 0 .5 6.876l-.26.585a1.328 1.328 0 0 0 0 1.079l.26.585a8.208 8.208 0 0 0 11.434 3.87l1.036 1.035a.75.75 0 1 0 1.06-1.06zm7.788 9.908l-1.294-1.293a3 3 0 0 1-4.109-4.109L3.866 4.927A6.707 6.707 0 0 0 1.87 7.486L1.641 8l.23.515a6.708 6.708 0 0 0 8.947 3.363M6.55 7.611A1.502 1.502 0 0 0 8.389 9.45zm1.658-2.604l2.784 2.784a3 3 0 0 0-2.784-2.784m5.92 3.508a6.704 6.704 0 0 1-.915 1.496l1.065 1.066A8.203 8.203 0 0 0 15.5 9.125l.26-.585a1.328 1.328 0 0 0 0-1.08l-.26-.584A8.208 8.208 0 0 0 5.572 2.37L6.81 3.61a6.708 6.708 0 0 1 7.32 3.877l.228.514l-.228.515Z"
          clip-rule="evenodd"
        />
      </svg>
      }
    </div>
  </div>

  @if (showError()) {
  <div class="text-sm text-red-400 pt-1">
    <small class="max-w-80">{{ errorMessage() }}</small>
  </div>
  } @if (showStrengthBar() && password()) {
  <div class="w-full bg-gray-200 rounded-lg pt-2 h-2 relative">
    <div
      [ngClass]="getStrengthClass()"
      class="absolute top-0 left-0 h-full rounded-lg transition-all"
    ></div>
  </div>
  }
</div>
