<div class="px-4">
  <h3 class="text-sm font-medium pb-4">Selecciona fecha y sucursal</h3>

  <!-- Date selection -->
  <section class="flex w-full gap-2 lg:flex-row flex-col">
    <div class="pb-2 w-full flex flex-col gap-2">
      <app-input-form
        [required]="true"
        label="Fecha de Servicio"
        type="datetime-local"
        [(value)]="selectedDate"
      />
      <small class="text-gray-500 mt-1 block"
        >Selecciona la fecha para buscar ventas pendientes</small
      >
    </div>
    <div class="flex flex-col w-full">
      <app-select
        [(value)]="selectedBranch"
        [required]="true"
        [options]="branches() || []"
        placeholder="Selecciona una sucursal"
        errorType=" "
        label="Sucursal"
        class="w-full"
      />
      <small class="text-gray-500 pt-2 block">
        Selecciona la sucursal donde deseas realizar el servicio
      </small>
    </div>
  </section>

  <!-- Branch selection (single) -->
  <div class="py-6">
    <div class="py-3 flex items-center justify-between">
      <label class="font-medium text-sm text-gray-700">
        Servicios Disponibles
      </label>
      <span
        class="bg-green-400 text-white text-xs font-medium py-1 px-2 rounded-full"
      >
        {{totalRecords}} servicios
      </span>
    </div>
    <p-table
      [value]="services()"
      [columns]="serviciosTableCols"
      [scrollHeight]="'280px'"
      styleClass="p-datatable-sm"
      [scrollable]="true"
      [selection]="selectedService()"
      selectionMode="single"
      (selectionChange)="onIdSelectionChange($event)"
      [resizableColumns]="true"
      [totalRecords]="totalRecords"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (col of columns; track $index) {
          <th
            pResizableColumn
            class="text-primary-l-500 cursor-pointer border-y py-2 font-semibold border border-primary-100 bg-primary-l-100"
          >
            {{ col.header }}
          </th>

          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service let-columns="columns">
        <tr [pSelectableRow]="service">
          @for (col of columns; track $index) {
          <td>
            {{ service[col.field] }}
          </td>

          }
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="3" class="text-center">
            <div
              *ngIf="loadingBranches()"
              class="p-4 flex flex-col items-center"
            >
              <p-skeleton height="2rem" width="60%"></p-skeleton>
              <p-skeleton height="2rem" width="80%" class="mt-2"></p-skeleton>
              <p-skeleton height="2rem" width="70%" class="mt-2"></p-skeleton>
            </div>
            <div *ngIf="!loadingBranches()">No hay sucursales disponibles</div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="card flex flex-col gap-4">
      <div class="flex items-center justify-center">
        <div class="flex-1">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showFirstLastIcon]="false"
          />
        </div>
      </div>
    </div>
    <small class="text-gray-500 mt-1 block">Selecciona el servicio </small>
  </div>

  <!-- Action buttons -->
  <div class="flex justify-end mt-4">
    <button
      pButton
      label="Buscar ventas pendientes"
      icon="pi pi-search"
      [loading]="loading()"
      [disabled]="!canAdvance"
      (click)="searchSales()"
      class="md:w-auto"
    ></button>
  </div>
</div>
