<!-- Header con icono -->
<div class="flex items-center gap-4 pb-8">
  <div
    class="w-12 h-12 rounded-full bg-primary-50 flex items-center justify-center"
  >
    <i class="pi pi-lock text-xl text-primary-500"></i>
  </div>
  <div>
    <h2 class="text-lg font-semibold text-gray-900">Nueva contraseña</h2>
    <p class="text-sm text-gray-600">Establece una contraseña segura</p>
  </div>
</div>

<!-- Formulario centrado con ancho máximo -->
<form [formGroup]="newPasswordForm()" class="flex justify-center">
  <div class="max-w-96 w-full flex flex-col gap-4">
    <!-- Campos de contraseña -->

    <app-password
      label="Nueva contraseña"
      pTooltip="Mínimo 8 caracteres"
      placeholder="Tu contraseña aquí"
      formControlName="password"
    />

    <app-password
      label="Confirmar contraseña"
      formControlName="passwordConfirm"
      pTooltip="Repite tu nueva contraseña"
      placeholder="Confirma tu contraseña aquí"
    />

    <!-- Requisitos de contraseña -->
    <div class="bg-gray-50 p-4 rounded-lg">
      <h4 class="text-sm font-medium text-gray-900 pb-2">Requisitos:</h4>
      <ul class="space-y-1">
        <li class="text-sm text-gray-600 flex items-center">
          <i class="pi pi-check text-green-500 pr-2"></i>
          Mínimo 8 caracteres
        </li>
        <li class="text-sm text-gray-600 flex items-center">
          <i class="pi pi-check text-green-500 pr-2"></i>
          Al menos una mayúscula
        </li>
        <li class="text-sm text-gray-600 flex items-center">
          <i class="pi pi-check text-green-500 pr-2"></i>
          Al menos una minúscula
        </li>
        <li class="text-sm text-gray-600 flex items-center">
          <i class="pi pi-check text-green-500 pr-2"></i>
          Al menos un carácter especial
        </li>
        <li class="text-sm text-gray-600 flex items-center">
          <i class="pi pi-check text-green-500 pr-2"></i>
          Al menos un número
        </li>
      </ul>
    </div>
  </div>
</form>

<div class="flex pt-6 justify-end">
  <p-button
    label="Guardar"
    icon="pi pi-lock"
    iconPos="right"
    [disabled]="!newPasswordForm().valid"
    [loading]="loading()"
    (onClick)="onSubmit()"
  />
</div>
