<div class="flex flex-col h-full">
  <!-- Encabezado con información del servicio -->
  <div class="pb-4">
    <div
      class="flex flex-col md:flex-row md:items-center justify-between gap-4"
    >
      <div>
        <div class="flex items-center gap-3 pb-2">
          <div class="bg-primary-50 p-2 rounded-full">
            <i class="pi pi-check-circle text-primary-500 text-xl"></i>
          </div>
          <h2 class="text-xl font-bold text-gray-800">
            {{ response().title }}
          </h2>
        </div>

        <div class="pl-1 pb-2">
          <div class="flex items-center gap-2 text-md text-gray-600">
            <i class="pi pi-calendar-plus text-primary-400"></i>
            <p>
              {{ response()?.departureDate | date : "dd/MM/yyyy hh:mm a " }}
            </p>
            <span class="text-gray-300 px-1">|</span>
            <i class="pi pi-info-circle text-primary-400"></i>
            <p>{{ response()?.description || "Sin descripción" }}</p>
          </div>
        </div>

        <div class="flex flex-wrap gap-2 pt-2">
          <p-tag
            severity="warn"
            [value]="response()?.branch?.address"
            icon="pi pi-map-marker"
          ></p-tag>
          <p-tag
            severity="info"
            [value]="'Clientes: ' + response()?.participants?.length"
            icon="pi pi-users"
          ></p-tag>
        </div>
      </div>
<!-- 
      <div class="md:border-l md:pl-4 md:ml-2 py-2">
        <div class="flex flex-col gap-2">
          <span
            class="text-xs uppercase tracking-wider text-gray-500 font-medium"
            >Progreso de registro</span
          >
          <div class="flex items-center gap-3">
            <p-progressBar
              [value]="calculatedProgress()"
              styleClass="h-6 w-32 md:w-48"
              [valueStyleClass]="
                calculatedProgress() == 100
                  ? 'bg-green-500'
                  : calculatedProgress() > 0
                  ? 'bg-blue-500'
                  : 'bg-red-500'
              "
            ></p-progressBar>

            <span
              class="text-sm font-medium text-primary-700 bg-primary-50 px-2 py-1 rounded"
            >
              {{ clientsChecked() }}/{{ response().participants?.length }}
            </span>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- Panel de control y búsqueda -->
  <div class="py-4 border-y">
    <div class="flex flex-col lg:flex-row gap-4 justify-between">
      <!-- Search section -->
      <div class="flex flex-col gap-1 w-full lg:w-auto">
        <app-input-form
          placeholder="Buscar por número de documento"
          [required]="true"
          errorType=" "
          [isPositive]="true"
          class="w-full lg:w-80"
          [(value)]="searchDocNumber"
          (valueChange)="onSearch($event)"
        />
        <small class="">Ingresa número de documento</small>
      </div>

      <!-- Controls section -->
      <div
        class="flex flex-wrap gap-2 items-center justify-between sm:justify-end w-full lg:w-auto"
      >
        <div class="flex gap-2 flex-shrink-0">
          <!-- <app-button
            text="Check-In Grupal"
            icon="pi pi-users"
            [disabled]="selectedPassengers.length === 0"
            moreClasses="py-2 text-sm"
            bgColor="bg-purple-500"
            pTooltip="Aplicar check-in a todos los seleccionados"
            tooltipPosition="left"
            (click)="applyGroupCheckIn()"
          /> -->
          <app-button
            text="Exportar PDF"
            bgColor="bg-primary-500"
            icon="pi pi-file-pdf"
            [disabled]="clients().length === 0"
            (click)="exportToPdf()"
            moreClasses="py-2 text-sm"
            pTooltip="Exportar listado en formato PDF"
            tooltipPosition="left"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de pasajeros -->
  <div class="pt-4 flex flex-col">
    <p-table
      [value]="filteredClients()"
      [scrollable]="true"
      scrollHeight="400px"
      [columns]="checkInTableCols"
      styleClass="p-datatable-sm"
      [rowHover]="true"
      [(selection)]="selectedPassengers"
      selectionMode="multiple"
      [tableStyle]="{ 'min-width': '50rem' }"
      responsiveLayout="scroll"
      [resizableColumns]="true"
      size="small"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (col of columns; track $index) {
          <th
            pResizableColumn
            class="text-primary-l-500 cursor-pointer border-y py-2 px-1 font-semibold border border-primary-100 bg-primary-l-100"
          >
            {{ col.header }}
          </th>

          }
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-participant
        let-columns="columns"
        let-rowIndex="rowIndex"
      >
        <tr
          [ngClass]="{
            'bg-green-50': participant.checkInStatus == 'REGISTRADO'
          }"
        >
          @for (col of columns; track $index) {
          <td class="p-1">
            @if (col.field == "#") {
            <p-tableCheckbox [value]="participant"></p-tableCheckbox>
            } @else if (col.field=="check-in") {
            <p-inputSwitch
              [ngModel]="participant.checkInStatus === 'REGISTRADO'"
              (onChange)="toggleCheckIn(participant, $event)"
            ></p-inputSwitch>
            } @else if (col.field=="actions") {
            <div class="flex gap-1 items-center">
              <div class="flex gap-1">
                <button
                  class="button-table-actions"
                  [pTooltip]="'Eliminar'"
                  tooltipPosition="left"
                  [showDelay]="300"
                  (click)="removeParticipant(participant)"
                >
                  <i class="pi pi-trash"></i>
                </button>
              </div>
            </div>

            } @else if (col.field=="createdAt") {
            {{ participant[col.field] | date : "dd-MM-yyyy hh:mm a " }}
            } @else if (col.field=="documentNumber") {
            {{ participant.client.numberDocument }}
            } @else if (col.field == "phone") {
            {{ participant.client.phone }}
            } @else if (col.field == "email") {
            {{ participant.client.email || "-" }}
            } @else {
            {{ participant[col.field] }}
            }
          </td>
          }
        </tr>
      </ng-template>
    </p-table>
    <!-- <div class="card flex flex-col gap-4">
      <div class="flex items-center justify-center">
        <div class="flex-1">
          <p-paginator [showFirstLastIcon]="false" />
        </div>
      </div>
    </div> -->
  </div>
</div>
