<main class="flex flex-col gap-4">
  <!-- Contenedor principal -->
  <div
    class="bg-white dark:bg-gray-800 rounded-t-lg border dark:border-gray-700"
  >
    <!-- Cabecera -->
    <div
      class="flex flex-col border-b dark:border-gray-700 pb-2 p-4 md:flex-row md:items-center md:justify-between gap-3"
    >
      <div>
        <h1 class="text-xl font-bold dark:text-gray-100">Usuarios</h1>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          Gestión de Usuarios
        </p>
      </div>

      <!-- Sección de botones -->
      <div class="flex flex-wrap gap-2 lg:justify-end">
        <div class="flex flex-col sm:flex-row gap-2 w-full sm:w-auto">
          <app-button
            icon="pi pi-plus"
            text="Nuevo Administrador"
            moreClasses="py-2   whitespace-nowrap"
            bgColor="bg-primary-500 dark:bg-primary-dark-500"
            [hidden]="!isGerent"
            (click)="openModalUser('Administrador')"
          />

          <app-button
            icon="pi pi-plus"
            text="Nuevo Vendedor"
            moreClasses="py-2  "
            bgColor="bg-primary-500 dark:bg-primary-dark-500"
            (click)="openModalUser('Vendedor')"
          />

          <app-button
            icon="pi pi-plus"
            text="Nuevo Gerente"
            moreClasses="py-2  "
            bgColor="bg-primary-500 dark:bg-primary-dark-500"
            [hidden]="!isGerent"
            (click)="openModalUser('Gerente')"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row pt-2 p-4 gap-4">
      <!-- Búsqueda -->
      <div class="flex gap-2 items-end">
        <div class="flex-grow max-w-xs">
          <app-input-form
            type="text"
            [isPositive]="true"
            [maxLength]="8"
            label="Buscar por DNI"
            placeholder="Buscar por DNI"
            [(ngModel)]="filterNumDni"
            [required]="true"
            errorType=" "
          />
        </div>

        <button
          (click)="setFilter()"
          class="bg-primary-500 dark:bg-primary-dark-500 hover:bg-primary-400 dark:hover:bg-primary-dark-400 duration-300 ease-in-out text-white w-10 h-10 rounded-full flex items-center justify-center"
        >
          <i class="pi pi-search"></i>
        </button>
      </div>

      <app-input-form
        type="text"
        label="Buscar por nombre"
        placeholder="Buscar por nombre"
        [required]="true"
        errorType=" "
        (valueChange)="searchUserByName($event)"
      />
    </div>
  </div>

  <!-- Tabla de usuarios -->
  <div
    class="bg-white dark:bg-gray-800 rounded-b-lg border dark:border-gray-700 w-full"
  >
    <div class="w-full py-3 px-4 border-b dark:border-gray-700">
      <div
        class="flex flex-col sm:flex-row gap-3 sm:items-center sm:justify-between"
      >
        <!-- Filtros -->
        <div class="overflow-x-auto p-2 flex-grow">
          <div class="flex gap-2 min-w-max">
            <app-button
              text="Usuarios"
              [hidden]="!isGerent"
              icon="pi pi-users"
              [bgColor]="
                filterRoles === ''
                  ? 'bg-white dark:bg-gray-700'
                  : 'bg-primary-500 dark:bg-primary-dark-500'
              "
              [textColor]="
                filterRoles === ''
                  ? 'text-primary-500 dark:text-primary-dark-500'
                  : 'text-white'
              "
              [moreClasses]="
                filterRoles === ''
                  ? 'ring-2 ring-primary-100 dark:ring-primary-dark-300'
                  : ''
              "
              (click)="setFilterRoles('')"
              moreClasses="text-xs sm:text-sm"
            />
            <app-button
              [hidden]="!isGerent"
              text="Administradores"
              icon="pi pi-user"
              [bgColor]="
                filterRoles === 'admins'
                  ? 'bg-white dark:bg-gray-700'
                  : 'bg-primary-500 dark:bg-primary-dark-500'
              "
              [textColor]="
                filterRoles === 'admins'
                  ? 'text-primary-500 dark:text-primary-dark-500'
                  : 'text-white'
              "
              [moreClasses]="
                filterRoles === 'admins'
                  ? 'ring-2 ring-primary-100 dark:ring-primary-dark-300'
                  : ''
              "
              (click)="setFilterRoles('admins')"
              moreClasses="text-xs sm:text-sm"
            />
            <app-button
              text="Vendedores"
              icon="pi pi-shop"
              [bgColor]="
                filterRoles === 'sellers'
                  ? 'bg-white dark:bg-gray-700'
                  : 'bg-primary-500 dark:bg-primary-dark-500'
              "
              [textColor]="
                filterRoles === 'sellers'
                  ? 'text-primary-500 dark:text-primary-dark-500'
                  : 'text-white'
              "
              [moreClasses]="
                filterRoles === 'sellers'
                  ? 'ring-2 ring-primary-100 dark:ring-primary-dark-300'
                  : ''
              "
              (click)="setFilterRoles('sellers')"
              moreClasses="text-xs sm:text-sm"
            />
            <app-button
              text="Gerentes"
              icon="pi pi-user"
              [hidden]="!isGerent"
              [bgColor]="
                filterRoles === 'managers'
                  ? 'bg-white dark:bg-gray-700'
                  : 'bg-primary-500 dark:bg-primary-dark-500'
              "
              [textColor]="
                filterRoles === 'managers'
                  ? 'text-primary-500 dark:text-primary-dark-500'
                  : 'text-white'
              "
              [moreClasses]="
                filterRoles === 'managers'
                  ? 'ring-2 ring-primary-100 dark:ring-primary-dark-300'
                  : ''
              "
              (click)="setFilterRoles('managers')"
              moreClasses="text-xs sm:text-sm"
            />

            <!-- Etiquetas de filtros -->
            @for (item of filters(); track $index) {
            <div
              class="flex items-center gap-1 bg-primary-100 dark:bg-gray-700 px-2 py-1 rounded-lg"
            >
              <p-tag [value]="item.key" [severity]="'success'"></p-tag>
              <button
                (click)="clearFilters()"
                class="hover:text-red-500 text-sm text-red-300"
              >
                <i class="pi pi-times"></i>
              </button>
            </div>
            }
          </div>
        </div>

        <!-- Botón exportar -->
        <div class="mt-3 sm:mt-0">
          <app-button
            text="Descargar Excel"
            icon="pi pi-file-excel"
            bgColor="bg-green-500 dark:bg-green-600"
            (click)="exportData()"
            moreClasses="w-full sm:w-auto text-sm"
          />
        </div>
      </div>
    </div>

    <!-- Tabla -->
    <p-table
      [columns]="cols"
      [value]="virtualUsers"
      [lazy]="true"
      [rows]="rows"
      [scrollable]="true"
      [totalRecords]="totalRecords"
      scrollHeight="500px"
      (onLazyLoad)="loadUsersLazy()"
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines dark:p-datatable-dark"
      [tableStyle]="{ 'min-width': '50rem' }"
      selectionMode="single"
      [(selection)]="selectedRow"
      [metaKeySelection]="true"
      [loading]="loading"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (col of columns; track $index) {
          <th
            pResizableColumn
            class="text-primary-l-500 dark:text-primary-dark-300 cursor-pointer border-y py-2 font-semibold border border-primary-100 dark:border-gray-700 bg-primary-100 dark:bg-gray-700"
          >
            {{ col.header }}
          </th>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user let-columns="columns">
        @if (loading) {
        <tr style="height: 40px">
          @for (col of columns; track $index) {
          <td class="dark:bg-gray-800">
            <p-skeleton />
          </td>
          }
        </tr>
        }@else {
        <tr
          [pSelectableRow]="user"
          class="dark:bg-gray-800 dark:hover:bg-gray-700"
        >
          @for (col of columns; track $index) {
          <td class="dark:border-gray-700">
            @if (col.field=="photoUrl") {
            <img
              [src]="user[col.field]"
              alt="user"
              class="w-8 h-8 rounded-full cursor-pointer"
              loading="lazy"
            />
            } @else if (col.field == "role") { @if (user[col.field].roleName ===
            'ADMINISTRADOR') {
            <p-tag severity="warn" value="Administrador"></p-tag>
            } @else if (user[col.field].roleName === 'VENDEDOR') {
            <p-tag severity="info" value="Vendedor"></p-tag>
            } @else if (user[col.field].roleName === 'GERENTE') {
            <p-tag severity="success" value="Gerente"></p-tag>
            } } @else if (col.field=="actions") {
            <div class="flex gap-1">
              <button
                class="button-table-actions dark:text-primary-dark-400 dark:hover:text-primary-dark-300"
                [pTooltip]="'Editar Usuario'"
                tooltipPosition="left"
                [showDelay]="300"
                (click)="editUser(user)"
              >
                <i class="pi pi-user-edit"></i>
              </button>
            </div>
            } @else {
            <span class="dark:text-gray-300">{{ user[col.field] }}</span>
            }
          </td>
          }
        </tr>
        }
      </ng-template>

      <ng-template pTemplate="emptymessage" let-columns="columns">
        <tr>
          <td colspan="100%" class="dark:bg-gray-800">
            <div class="flex flex-col items-center justify-center py-8 px-4">
              <div class="text-primary-300 dark:text-primary-dark-300 mb-3">
                <i class="pi pi-search-minus text-5xl"></i>
              </div>
              <h3
                class="text-lg font-semibold text-gray-700 dark:text-gray-300 mb-2"
              >
                No se encontraron usuarios
              </h3>
              <p
                class="text-gray-500 dark:text-gray-400 text-center max-w-md mb-4"
              >
                No hay resultados que coincidan con los criterios de búsqueda
                actuales.
              </p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Paginador -->
    <div class="card flex flex-col gap-4">
      <div class="flex items-center justify-center">
        <div class="flex-1">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showFirstLastIcon]="false"
            styleClass="dark:paginator-dark dark:bg-gray-800 dark:border-gray-700 dark:text-white"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} de {totalRecords}"
          ></p-paginator>
        </div>
      </div>
    </div>
  </div>
</main>

<app-export-excel
  title="Usuarios"
  [(showModal)]="showModal"
  (exportData)="handleExport($event)"
  [total]="totalRecords"
/>

<app-add-user
  [(showModal)]="showModalUser"
  [rolePreselected]="selectedRole()"
  (refreshData)="handleRefreshData()"
  [userToEdit]="selectedRow"
/>
