<main
  class="w-full min-h-screen flex flex-col justify-center items-center lg:p-0 px-10 py-6"
>
  <header class="w-full flex gap-2 justify-center text-wrap">
    <svg
      width="32"
      height="28"
      viewBox="0 0 32 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M17.8516 0C25.6678 0 32 6.3 32 14C32 21.7 25.6678 28 17.8516 28C12.8905 28 8.55124 25.452 6.0212 21.602L8.25442 19.852C10.2473 23.058 13.7951 25.2 17.8657 25.2C20.8646 25.2 23.7407 24.02 25.8613 21.9196C27.9818 19.8192 29.1731 16.9704 29.1731 14C29.1731 11.0296 27.9818 8.18081 25.8613 6.0804C23.7407 3.98 20.8646 2.8 17.8657 2.8C12.0989 2.8 7.34982 7.084 6.65724 12.6H10.5583L5.27208 17.822L0 12.6H3.80212C4.50883 5.53 10.53 0 17.8516 0ZM22.0353 11.536C22.7421 11.55 23.3216 12.11 23.3216 12.824V19.278C23.3216 19.978 22.7421 20.566 22.0212 20.566H14.2049C13.4841 20.566 12.9046 19.978 12.9046 19.278V12.824C12.9046 12.11 13.4841 11.55 14.1908 11.536V10.122C14.1908 7.98 15.9576 6.244 18.106 6.244C20.2686 6.244 22.0353 7.98 22.0353 10.122V11.536ZM18.106 8.204C17.0459 8.204 16.1696 9.058 16.1696 10.122V11.536H20.0565V10.122C20.0565 9.058 19.1802 8.204 18.106 8.204Z"
        fill="#364152"
      />
    </svg>
    <h1 class="text-xl font-semibold">Recuperar Contraseña</h1>
  </header>
  <form [formGroup]="form" class="min-h-80 flex flex-col justify-between">
    <span class="text-slate-600 max-w-80 mt-2"
      >Estás en el proceso de recuperación de contraseña, si ocurre algun error
      comunícate con un administrador del sistema.</span
    >
    <div class="input-text font-semibold mt-4 md:mt-10">
      <label> Correo Electrónico </label>
      <div
        [ngClass]="{
          'border-danger-100':
            form.controls['email'].invalid && form.controls['email'].touched
        }"
        class="mt-2 flex border-2 text-lg rounded-lg px-4 font-normal gap-2 items-center focus-within:border-blue-400 focus-within:outline outline-blue-200"
      >
        <svg
          class="my-2"
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
        >
          <path
            fill="#999999"
            d="M18.84 7h-2.62L10.5 4L4 7.41V17a2 2 0 0 1-2-2V7.17c0-.67.28-1.11.81-1.36L10.5 2l7.55 3.81c.45.28.73.69.79 1.19M7 8h13a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-9a2 2 0 0 1 2-2m13 3.67V10l-6.5 3.31L7 10v1.67L13.5 15z"
          />
        </svg>
        <input
          type="text"
          formControlName="email"
          required
          class="h-full py-2 bg-transparent w-full border-none outline-none"
          placeholder="correo@email.com"
        />
      </div>
      @if (form.controls['email'].invalid && form.controls['email'].touched) {
      <div class="text-red-500 mt-2 text-sm">Correo inválido.</div>
      }
    </div>

    <app-button
      (click)="validateEmail()"
      [moreClasses]="' hover:bg-primary-400 py-2 flex items-center justify-center gap-4'"
      [text]="'Enviar'"
      bgColor="bg-primary-500"
    >
      @if (isLoading) {
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 24 24"
      >
        <g fill="none" stroke="#1ce401" stroke-linecap="round" stroke-width="2">
          <path
            stroke-dasharray="60"
            stroke-dashoffset="60"
            stroke-opacity=".3"
            d="M12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3Z"
          >
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              dur="1.3s"
              values="60;0"
            />
          </path>
          <path
            stroke-dasharray="15"
            stroke-dashoffset="15"
            d="M12 3C16.9706 3 21 7.02944 21 12"
          >
            <animate
              fill="freeze"
              attributeName="stroke-dashoffset"
              dur="0.3s"
              values="15;0"
            />
            <animateTransform
              attributeName="transform"
              dur="1.5s"
              repeatCount="indefinite"
              type="rotate"
              values="0 12 12;360 12 12"
            />
          </path>
        </g>
      </svg>
      }
    </app-button>
  </form>
</main>

@if (messageAlert) {
<app-alert
  [autoClose]="true"
  [duration]="3000"
  title="{{ messageAlert.title }}"
  type="{{ messageAlert.type }}"
  message="{{ messageAlert.message }}"
/>

} @if (emailIsValid) {
<div
  class="min-h-screen w-full lg:p-0 px-10 py-6 bg-black absolute top-0 left-0 bg-opacity-90 flex justify-center items-center"
>
  <div
    class="min-h-60 flex flex-col justify-start bg-white rounded-lg p-4 gap-4"
  >
    <div class="">
        <h1 class="text-xl font-semibold">Código de Verificación</h1>
        <p class="text-slate-900  mt-2 text-wrap max-w-72 "
            >Ingresa el código de verificación que te hemos enviado a tu correo
            electrónico.</p
        >
    </div>
    <div class="card   flex justify-content-center">
      <p-inputOtp [length]="6" [(ngModel)]="value" [integerOnly]="true" />
    </div>
    <app-button
      (click)="validateCode()"
      [text]="'Enviar'"
      [moreClasses]="'py-2'"
      bgColor="bg-primary-500"
    />
  </div>
</div>
} @if(codeIsValid){
<div
  class="min-h-screen w-full lg:p-0 px-10 py-6 bg-black absolute top-0 left-0 bg-opacity-70 flex justify-center items-center"
>
  <form
    class="min-h-80 flex flex-col justify-start bg-white rounded-lg p-4 gap-4"
  >
    <div class="w-full flex justify-end">
      <button
        (click)="close()"
        class="bg-slate-200 hover:bg-slate-300 duration-300 ease-in-out rounded-full p-2 font-bold w-10 h-10"
      >
        x
      </button>
    </div>
    <app-input-form  label="Número de DNI" [required]="true"    (valueChange)="getValueNumDni($event)" valueInput="'gaaa'" />
    <app-password (password)="getPassword($event)" />
    <app-password (password)="getPasswordConfirm($event)" />
    <app-button
      (click)="savePassword()"
      [moreClasses]="' hover:bg-primary-l-300 py-2'"
      [bgColor]="'bg-primary-l-500'"
      [text]="'Enviar'"
    />
  </form>
</div>
}
