<div class="flex items-center gap-3 pb-5">
  <div
    class="w-10 h-10 bg-gradient-to-br from-green-300 to-green-500 rounded-lg shadow-md flex items-center justify-center transform transition-transform hover:scale-105"
  >
    <i class="pi pi-chart-bar text-white text-lg"></i>
  </div>
  <div class="flex flex-col">
    <h2
      class="text-lg font-semibold text-gray-800 dark:text-gray-100 m-0 leading-tight"
    >
      Indicadores clave
    </h2>
    <p class="text-xs text-gray-500 dark:text-gray-400 pt-1">
      Resumen de métricas principales
    </p>
  </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  @for (metric of data(); track $index) {
  <div
    class="bg-white dark:bg-gray-800 p-4 rounded-lg border dark:border-gray-700 shadow-sm hover:shadow-md transition-shadow"
  >
    <div class="flex items-center justify-between">
      <h3 class="text-sm font-medium text-gray-600 dark:text-gray-300">
        {{ metric.label }}
      </h3>
      <i
        [class]="metric.icon + ' text-primary-500 dark:text-primary-dark-400'"
      ></i>
    </div>
    <p class="text-2xl font-bold pt-2">
      <ng-container [ngSwitch]="metric.type">
        <span *ngSwitchCase="'currency'"
          >S/. {{ metric.value | number : "1.2-2" }}</span
        >
        <span *ngSwitchCase="'percentage'"
          >{{ metric.value | number : "1.2-2" }}%</span
        >
        <span *ngSwitchCase="'number'">{{ metric.value }}</span>
        <span *ngSwitchCase="'text'">{{ metric.value }}</span>
      </ng-container>
    </p>
    <p class="text-xs text-gray-500 dark:text-gray-400 pt-1">
      {{ metric.description }}
    </p>
    <div
      *ngIf="metric.trend"
      class="flex items-center text-xs text-green-500 pt-2"
    >
      <i class="pi pi-arrow-up pr-1"></i>
      <span
        >{{ metric.trend.value | number : "1.2-2" }}%
        {{ metric.trend.label }}</span
      >
    </div>
  </div>
  }
</div>
