<div class="h-full p-10 flex justify-center">
  <p-stepper [value]="1" class="basis-[50rem] w-full">
    <p-step-list class="px-4 py-3 md:px-6 overflow-x-auto">
      <p-step [value]="1" [disabled]="false">Validar Correo</p-step>
      <p-step [value]="2" [disabled]="!canActivateStep(2)"
        >Verificación de Código</p-step
      >
      <p-step [value]="3" [disabled]="!canActivateStep(3)"
        >Cambiar Contraseña</p-step
      >
    </p-step-list>
    <p-step-panels>
      <!-- Mostrar mensajes  -->
      <div class="py-4">
        @if (error()) {
        <p-message
          severity="error"
          [text]="error()"
          styleClass="w-full mb-4"
        ></p-message>
        }

        <!-- Mostrar mensaje de éxito -->
        @if (responseMessage()) {
        <p-message
          severity="info"
          icon="pi pi-send"
          [text]="responseMessage()"
          styleClass="w-full mb-4"
        ></p-message>
        }
      </div>

      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <app-step1-validation
            [step1Form]="step1Form"
            [loading]="loading()"
            (submitForm)="validateEmailAndNumDni(activateCallback)"
          />
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <app-step2-verification
            [otpFormControl]="otpCode"
            [loading]="loading()"
            (submitForm)="validateCode(activateCallback)"
            (previous)="goToPreviousStep(activateCallback)"
          />
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <app-step3-new-password
            [newPasswordForm]="passwordForm"
            [loading]="loading()"
            (submitForm)="resetPassword()"
          />
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</div>
