<div class="p-4">
  <div class="flex items-center gap-3 pb-5">
    <div
      class="w-10 h-10 bg-gradient-to-br from-orange-400 to-primary-600 rounded-lg shadow-md flex items-center justify-center transform transition-transform hover:scale-105"
    >
      <i class="pi pi-chart-line text-white text-lg"></i>
    </div>
    <div class="flex flex-col">
      <h2 class="text-lg font-semibold text-gray-800 m-0 leading-tight">
        Análisis gráfico
      </h2>
      <p class="text-xs text-gray-500 mt-1">
        Visualización detallada de métricas clave
      </p>
    </div>
  </div>
  @defer () {
  <app-chart-line
    title="Tendencia de ventas"
    subtitle="Últimos 12 meses"
    [chartData]="data()"
  ></app-chart-line>
  }
</div>
