<div class="p-4 bg-white dark:bg-gray-800 border-b dark:border-gray-700">
  <!-- Encabezado -->
 <div class="flex justify-between flex-wrap items-center ">
   <div class="flex items-center gap-3 pb-4">
    <div
      class="w-10 h-10 bg-gradient-to-br from-orange-400 to-primary-600 dark:from-orange-500 dark:to-primary-dark-500 rounded-lg shadow-md flex items-center justify-center"
    >
      <i class="pi pi-file-export text-white text-lg"></i>
    </div>

    <div class="flex flex-col">
      <h2
        class="text-lg font-semibold text-gray-800 dark:text-gray-100 m-0 leading-tight"
      >
        {{ title() }}
      </h2>
      <p class="text-xs text-gray-500 dark:text-gray-400 pt-1">
        Genera archivos para cuadre de caja en diferentes formatos
      </p>
    </div>
  </div>
  <app-button 
    text="Historial de Reportes"
    icon="pi pi-history"
    moreClasses="py-2"
    font="font-medium text-sm"
    bgColor="bg-primary-500 hover:bg-primary-600 dark:bg-primary-dark-500 dark:hover:bg-primary-dark-600 text-white"
    [routerLink]="['./history']"
  ></app-button>
 </div>
  <!-- Opciones de exportación -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-2">
    <!-- Reporte detallado de ventas -->
    <app-card-report
      title="Ventas y Pagos"
      icon="pi pi-shopping-cart"
      borderColor="border-green-200"
      darkBorderColor="dark:border-green-800"
      (onExcel)="generateExcelReportOfSales()"
      description="Exporta un reporte con todas las ventas realizadas y los métodos de pago utilizados."
      [loading]="loading()"
    ></app-card-report>

    <!-- Reporte detallado de servicios y/o paquetes -->
    <app-card-report
      title="Servicios y Paquetes"
      icon="pi pi-car"
      borderColor="border-blue-200"
      darkBorderColor="dark:border-blue-800"
      description="Genera un reporte con el desglose de ventas por servicios y paquetes contratados."
      [loading]="loading()"
      (onExcel)="generateExcelReportOfServicesAndPackages()"
    ></app-card-report>

    <!-- Reporte de sucursales -->
    <app-card-report
      title="Rendimiento por Sucursal"
      icon="pi pi-building"
      borderColor="border-orange-200"
      darkBorderColor="dark:border-orange-800"
      description="Obtén un análisis detallado y comparativo del desempeño de cada sucursal."
      (onExcel)="generateExcelReportOfBranches()"
      [loading]="loading()"
    ></app-card-report>
  </div>
</div>
