<div class="p-4 bg-white border-b">
  <!-- Encabezado -->
  <div class="flex items-center gap-3 pb-4">
    <div
      class="w-10 h-10 bg-gradient-to-br from-orange-400 to-primary-600 rounded-lg shadow-md flex items-center justify-center"
    >
      <i class="pi pi-file-export text-white text-lg"></i>
    </div>

    <div class="flex flex-col">
      <h2 class="text-lg font-semibold text-gray-800 m-0 leading-tight">
        Exportar Reporte de Ventas
      </h2>
      <p class="text-xs text-gray-500 pt-1">
        Genera archivos para cuadre de caja en diferentes formatos
      </p>
    </div>
  </div>

  <!-- Opciones de exportación -->
   <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-2">
    <!-- Reporte detallado de ventas -->
    <app-card-report
      title="Ventas y Pagos"
      icon="pi pi-shopping-cart"
      borderColor="border-green-200"
      description="Exporta un reporte con todas las ventas realizadas y los métodos de pago utilizados."
    ></app-card-report>
  
    <!-- Reporte detallado de servicios y/o paquetes -->
    <app-card-report
      title="Servicios y Paquetes"
      icon="pi pi-car"
      borderColor="border-blue-200"
      description="Genera un reporte con el desglose de ventas por servicios y paquetes contratados."
    ></app-card-report>
  
    <!-- Reporte de sucursales -->
    <app-card-report
      title="Rendimiento por Sucursal"
      icon="pi pi-building"
      borderColor="border-orange-200"
           description="Obtén un análisis detallado y comparativo del desempeño de cada sucursal."
    ></app-card-report>
  </div>
</div>
