<main class="border-b shadow-sm">
  <div class="user">
    <button class="flex items-center gap-2 ml-3">
      <div class="user" [routerLink]="'profile'">
        <img
          class="border-2 border-green-500"
          src="{{ admin().photoUrl || 'null' }}"
          alt="perfil de usuario"
        />
        <h3
          class="dark:text-primary-dark-500 text-primary-500 text-md font-semibold hidden md:flex items-center hover:text-primary-l-300 duration-300 ease-in-out ml-3"
        >
          {{ admin().name || "Admin" }}
        </h3>
      </div>

      <button (click)="viewMoreInfo($event)">
        <i
          [class.rotate-180]="viewMenu()"
          class="pi pi-angle-up text-primary-500 font-semibold text-lg dark:text-primary-dark-500"
        ></i>
      </button>
    </button>

    @if (viewMenu()) {
    <app-user-menu class="more" />
    }
  </div>
</main>
