<main class="flex flex-col gap-4">
  <div class="flex items-end gap-2 w-full bg-white rounded-lg border p-4">
    <div class="flex-none w-64">
      <app-input-form
        type="text"
        [isPositive]="true"
        [maxLength]="8"
        label="Buscar por nombre"
        placeholder="Buscar por DNI"
      />
    </div>

    <button
      (click)="setFilter()"
      class="bg-primary-500 hover:bg-primary-400 duration-300 ease-in-out text-white w-10 h-10 rounded-full flex items-center justify-center"
    >
      <i class="pi pi-search"></i>
    </button>
    <div class="flex-none w-64">
      <app-select
        label="Ordernar Por:"
        [options]="[
        {
          label: 'Nombre',
          value: 'name',
        },
        {
          label: 'DNI',
          value: 'numDni',
        },
        {
          label: 'Por Defecto',
          value: 'default',
        }
      ]"
      />
    </div>
    <div class="flex gap-2 ml-auto">
      <app-button
        icon="pi pi-plus"
        text="Nuevo Servicio"
        moreClasses="py-2"
        bgColor="bg-primary-500"
        (click)="openModalService()"
      />
      <app-button
        icon="pi pi-plus"
        text="Nuevo Paquete"
        moreClasses="py-2"
        bgColor="bg-primary-500"
        (click)="openmodalPackage()"
      />
    </div>
  </div>

  <div class="bg-white rounded-lg border w-full">
    <div class="w-full py-3 flex px-4 justify-between items-center">
      <div class="flex gap-2">
        <app-button
          text="Servicios"
          icon="pi pi-car"
          [bgColor]="
            currentView() === 'services' ? 'bg-white' : 'bg-primary-500'
          "
          [textColor]="
            currentView() === 'services' ? 'text-primary-500' : 'text-white'
          "
          (click)="changeView('services')"
          [moreClasses]="
            currentView() === 'services' ? 'ring-2  ring-primary-100' : ''
          "
        />
        <app-button
          text="Paquetes Turísticos"
          icon="pi pi-box"
          [bgColor]="
            currentView() === 'packages'
              ? 'bg-white text-primary-500'
              : 'bg-primary-500'
          "
          (click)="changeView('packages')"
          [textColor]="
            currentView() === 'packages' ? 'text-primary-500' : 'text-white'
          "
          [moreClasses]="
            currentView() === 'packages' ? 'ring-2  ring-primary-100' : ''
          "
        />
        @for (item of filters(); track $index) {
        <div
          class="flex items-center gap-1 bg-primary-100 px-2 py-1 rounded-lg"
        >
          <p-tag [value]="item.key"></p-tag>
          <button
            (click)="clearFilters()"
            class="hover:text-red-500 text-sm text-red-300"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
        }
      </div>
      <div class="gap-2 flex">
        <app-button
          text="Descargar Excel"
          icon="pi pi-file-excel"
          bgColor="bg-green-500"
          (click)="exportData()"
        />
      </div>
    </div>
    <div class="w-full pb-4 flex px-4 gap-2 items-center">
      <app-select class="w-full" label="Tipo" [options]="filterServiceByType" />
      <app-select
        class="w-full"
        label="Precio"
        [options]="filterServiceByPrice"
      />
      <app-select
        class="w-full"
        label="Estado"
        [options]="filterServiceByStatus"
      />
    </div>
    <p-table
      [columns]="currentView() === 'services' ? cols : packageCols"
      [value]="virtualServices()"
      [lazy]="true"
      [scrollable]="true"
      [virtualScroll]="true"
      [virtualScrollItemSize]="50"
      [loading]="loading"
      [totalRecords]="totalRecords"
      scrollHeight="400px"
      (onLazyLoad)="loadData()"
      [resizableColumns]="true"
      styleClass="p-datatable-gridlines"
      [tableStyle]="{ 'min-width': '50rem' }"
      selectionMode="single"
      [(selection)]="selectedService"
      [metaKeySelection]="true"
      dataKey="serviceId"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          @for (col of columns; track $index) {
          <th
            pResizableColumn
            class="text-primary-l-500 cursor-pointer border-y py-2 font-semibold border border-primary-100 bg-primary-l-100"
          >
            {{ col.header }}
          </th>

          }
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-service let-columns="columns">
        <tr [pSelectableRow]="service">
          @for (col of columns; track $index) {
          <td>
            @if (col.field == "status") { @if (service[col.field] === true ) {
            <p-tag severity="success" value="Activo"></p-tag>
            } @else if (service[col.field] === false) {
            <p-tag severity="info" value="Inactivo"></p-tag>
            } } @else if (col.field == "createdAt") {
            {{ service[col.field] | date : "dd/MM/yyyy hh:mm a" }}
            } @else if (col.field == "updatedAt") {
            {{ service[col.field] | date : "dd/MM/yyyy hh:mm a" }}
            } @else if (col.field=="actions") {
            <div class="flex gap-1">
              <button
                class="button-table-actions"
                [pTooltip]="
                  currentView() === 'services'
                    ? 'Editar Servicio'
                    : 'Editar Paquete Turístico'
                "
                tooltipPosition="left"
                [showDelay]="300"
              >
                <i class="pi pi-file-edit"></i>
              </button>
              <!-- <button
                  class="button-table-actions"
                  class="button-table-actions"
                  [pTooltip]="'Ver Usuario'"
                  tooltipPosition="left"
                  [showDelay]="300"
                >
                  <i class="pi pi-eye"></i>
                </button> -->
            </div>

            } @else {
            {{ service[col.field] }}

            }
          </td>
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr>
          @for (col of columns; track $index) {
          <td>
            <p-skeleton></p-skeleton>
          </td>

          }
        </tr>
      </ng-template>
    </p-table>
    <div class="card flex flex-col gap-4">
      <div class="flex items-center justify-center">
        <div class="flex-1">
          <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="rowsPerPageOptions"
            [showFirstLastIcon]="false"
          />
        </div>
      </div>
    </div>
  </div>
</main>

<app-export-excel
  [title]="currentView() === 'services' ? 'Servicios' : 'Paquetes Turísticos'"
  [(showModal)]="showModal"
  (exportData)="handleExport($event)"
  [total]="totalRecords"
/>

<app-add-service [(showModal)]="showModalService" />
<app-add-package [(showModal)]="showModalPackage" />

<p-toast [life]="2000" />
